<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true"
          name="dockerWithGrid">
        <classes>
            <class name="dockerWithGrid.ChromeTest1">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
            <class name="dockerWithGrid.ChromeTest2">
                <methods>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="dockerWithGrid.ChromeTest3">
                <methods>
                    <include name="test3"/>
                </methods>
            </class>
            <class name="dockerWithGrid.FirefoxTest4">
                <methods>
                    <include name="test4"/>
                </methods>
            </class>
            <class name="dockerWithGrid.OperaTest5">
                <methods>
                    <include name="test5"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>